body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f1f1f1;
}

td button {
    background-color: #dc3545;
}

td button:hover {
    background-color: #c82333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    padding: 8px;
    margin-right: 10px;
    width: calc(55% - 120px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100px;
}

.alert {
    margin-top: 20px;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    display: none;
}

.alert.error {
    background-color: #dc3545;
}

.btncontainer {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}